<!DOCTYPE html>
<html>
  <head>
    <title>Photos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Photos</a>
        <a class="navbar-brand"> Welcome <%= @name %></a>
        <% for a in 1..30 do %>
        <a class="navbar-brand"></a>
        <% end %>
        <% if @name %>
        <a href="/logout" class="navbar-brand" style="float:right">Logout</a>
        <a href="/contacts" class="navbar-brand" style="float:right">Profile</a>
        <% else %>
        <a href="/login" class="navbar-brand" style="float:right">Signin</a>
        <a href="/signup" class="navbar-brand" style="float:right">Signup</a>
        <% end %>
      </div>
    </div>

    <div class="container">
    <br>
    <br>
    <br>
    </div>
    <style>
    .bs-component .alert {
        position: fixed:right;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index:9999;
    }
    </style>

    <% flash.each do |key, value| %>
      <% next unless value%>
      <% alert_class = case key
                      when :notice then "success"
                      when :alert then "danger"
                      else key
                      end %>
        <div class="col-lg-4">
          <div class="bs-component">
            <div class="alert alert-dismissible alert-<%=alert_class%>">
              <strong><%=alert_class.upcase%></strong> <%= value %>
              <button type="button" class="btn-close" data-dismiss="alert"></button>
            </div>
          </div>
        </div>
    <% end %>
    <% flash.discard %> <% flash[:notice] = nil %> <% flash[:warning] = nil %>

    <div class="container">
      <div class="page-header" id="banner">
        <div class="bs-component">
          <div class="list-group">
            <a class="list-group-item list-group-item-action flex-column align-items-start active">
              <h1>Photonic</h1>
              <p class="lead">A stab at learning new things</p>
            </a>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="card-body">
              <% if @name %>
                <%= yield %>
              <% elsif @view_page %>
                <%= yield %>
              <% else %>
                <h3>Looks like you are lost! Lets get your logged in!</h3><br>
                <a class="btn btn-success btn-lg" href="/login" class="btn btn-primary">Lets Login!</a>
                <a class="btn btn-info btn-lg" href="/signup" class="btn btn-primary">Ohh you need an account?</a>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
